::selection {
    background-color: #fec260;
    color: #352e28;
}

body {
    font-family: "PT Sans Caption", sans-serif;
}

a {
    text-decoration: none;
}

/**main**/
main {
    background-color: #f7ecde;
    height: 100vh;
}

main h1 {
    font-family: "Pacifico", cursive;
    font-size: 3.125rem;
    color: #352e28;
    width: fit-content;
    margin: auto;
    position: relative;
    z-index: 11;
}

main h1::after {
    content: "";
    position: absolute;
    background: #fec260;
    height: 25%;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: -111;
    transition: height .5s;
}

main h1:hover::after {
    height: 50%;
}

main .bookmark-box {
    border: 2px dotted #352e28;
    border-width: 2px 0px 2px;
}

main .bookmark-box h2 {
    font-family: "Righteous", sans-serif;
    font-size: 1.5625rem;
    background-image: linear-gradient(88deg, #3ca55c, #b5ac49);
    background-clip: text;
    color: transparent;
}

main .form-control:focus {
    border-color: #d99c39;
    box-shadow: 0 0 0 .25rem #fec26055;
}

main button {
    background: #d1512d !important;
    border-color: #d1512d !important;
    transition: .6s ease-in;
}

main button:hover {
    background: #bb4120 !important;
    border-color: #d1512d !important;
}

main table button,  main table a {
    color: white !important;
    outline: none;
    padding: 6px 12px;
    border: 0px;
    display: inline-block;
    transition: .6s ease-in;
}

main .visit-btn {
    background: #9eb23b !important;
}

main .visit-btn:hover {
    background: #8a9e23 !important;
}

main button.delete-btn {
    background: #eb1d36 !important;
}

main button.delete-btn:hover {
    background: #d30820 !important;
}